.loader{
    position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 100000000;
     background: #cecece;
     opacity: 0.5; 
 }

  input.line:focus,
     select.line:focus,
     textarea.line:focus{
       outline:none !important;
       outline-offset: 0;
     }
     input.line:active{
       outline:none !important;
       outline-offset: 0 !important;
     }
     input:focus {
        outline: none;
        border: none !important;
    }
    
    input:active {
        outline: none;
        border: none !important;
    }