.pace .pace-progress {
  width: 100%;
  background: #7aaafb;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 3px;

  -webkit-transition: width 0.10s;
  -moz-transition: width 0.10s;
  -o-transition: width 0.10s;
  transition: width 0.10s;
}

.pace-inactive {
  display: none;
}
