{% extends 'public/dashboard/baseHome.html' %}
{% block title %} Chat {% endblock %}

{% block body %}




<!-- main wrapper -->
<div class="main-wrapper">

    {% include 'public/dashboard/nav.html' %}

    <div class="right-content">
        <div class="left-sidebar">
            {% include 'public/dashboard/perfil-chat.html' %}

            <div class="sidebar active" id="chats">
                
                {% include 'public/dashboard/chat-recientes.html' %}

                {% include 'public/dashboard/buscar-contacto.html' %}
                
                {% include 'public/dashboard/chat-list-content.html' %}

            </div>

            {% include 'public/dashboard/amigos-contactos.html' %}
          
            {% include 'public/dashboard/contactos-favoritos.html' %}

            {% include 'public/dashboard/archivos.html' %}

            {% include 'public/dashboard/notificaciones.html' %}

            {% include 'public/dashboard/ajustes-perfil.html' %}

        </div>

        <div class="chat-content">
            <!-- chat header -->
            {% include 'public/dashboard/chat-seleccionado.html' %}
            <!-- chat header -->

            <!-- chat body -->
            {% include 'public/dashboard/chat-body.html' %}
            <!-- chat body -->

            <!-- chat footer -->
                {% include 'public/dashboard/form-chat.html' %}
            <!-- chat footer -->

        </div>	

        {% include 'public/dashboard/right-sidebar.html' %}

        <button class="btn btn-circle text-white btn-neutral sidebar-right">
            <i class="ti-angle-left"></i>	
        </button>		
    </div>

</div>
<!-- main wrapper -->



{% endblock %}