{% extends 'public/login/baseLogin.html' %}
{% block title %}Chat | Crear mi Cuenta {% endblock %}

{% block body %}


<main class="bg-grey">
    <div class="d-flex align-items-center mx-auto login-form">
        <div class="container">
            <div class="card">
                <div class="card-body p-5">
                    <form action="{{ url_for('crearCuenta') }}" method="POST">
                        <h3 class="title-text mb-5"><b>Crear mi cuenta</b></h3>
                        <div class="input-group mb-3">
                            <i class="ti-user"></i>
                            <input class="form-control form-control-lg" type="text" name="primer_nombre"
                                placeholder="Primer Nombre">
                        </div>
                        <div class="input-group mb-3">
                            <i class="ti-email"></i>
                            <input class="form-control form-control-lg" type="email" name="email_cliente"
                                placeholder="Email" required="true">
                        </div>
                        <div class="input-group mb-3">
                            <i class="ti-lock"></i>
                            <input class="form-control form-control-lg" type="password" placeholder="Clave"
                                required="true">
                        </div>

                        <button class="btn btn-block btn-lg btn-primary mt-2" type="submit">
                            <b>Crear mi cuenta</b>
                        </button>
                        <p class="mt-4 text-center">Tienes cuenta? <a class="link-primary" href="/">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}