<div class="sidebar" id="settings">
    <div class="text-left mb-2 mt-3"><h2 class="title-text"><b>Ajustes</b></h2></div>
    <div class="chat-list-content mb-3 mt-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                            Mi perfil <span>Configura tus preferencias</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <form action="#" class="mb-3 mt-3">
                            <input type="text" class="form-control mb-3" placeholder="Nombre">
                            <input type="text" class="form-control mb-3" placeholder="Ciudad">
                            <input type="text" class="form-control mb-3" placeholder="Telefono">
                            <input type="text" class="form-control mb-3" placeholder="Website">
                            <textarea name="name" id="bio" cols="30" rows="4" class="mb-3" placeholder="Describe tu perfil"></textarea>
                            <button>Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
                            Privacidad y Seguridad <span>Configura tus preferencias</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <form action="#" class="mb-3 mt-3">
                            <input type="text" class="form-control mb-3" placeholder="Current Password">
                            <input type="text" class="form-control mb-3" placeholder="New Password">
                            <input type="text" class="form-control mb-3" placeholder="Reset Password">
                            <button>Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapsed">
                            Links redes Sociales <span>Configura tus preferencias</span>
                        </a>
                        </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <form action="#" class="mb-3 mt-3">
                            <div class="social-link facebook"><i class="ti-facebook bg-facebook"></i><input type="text" class="form-control mb-3" placeholder="https://www.facebook.com/"></div>
                            <div class="social-link facebook"><i class="ti-twitter-alt bg-twitter"></i><input type="text" class="form-control mb-3" placeholder="https://www.twitter.com/"></div>
                            <div class="social-link facebook"><i class="ti-linkedin bg-linkedIn"></i><input type="text" class="form-control mb-3" placeholder="https://www.linkedin.com/"></div>
                            <div class="social-link facebook"><i class="ti-dribbble bg-behance"></i><input type="text" class="form-control mb-3" placeholder="https://www.dribbble.com/"></div>
                            <div class="social-link facebook"><i class="ti-github bg-github"></i><input type="text" class="form-control mb-3" placeholder="https://www.github.com/"></div>
                            <button>Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="collapsed">
                            Apariencia <span>Configura tus preferencias</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="switch-box">
                            <h4>Permitir contactos conectados</h4>
                            <label class="switch float-right mb-0" for="checkbox1">
                                <input type="checkbox" id="checkbox1" />
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="switch-box">
                            <h4>Confirmar solicitudes de mensajes</h4>
                            <label class="switch float-right mb-0" for="checkbox2">
                                <input type="checkbox" id="checkbox2" checked />
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="switch-box">
                            <h4>Opciones del modo desarrollador</h4>
                            <label class="switch float-right mb-0" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>