<div class="sidebar" id="archived">
    <div class="text-left mb-2 mt-3"><h2 class="title-text"><b>Archived</b> Room </h2></div>
    <div class="form-content">
        <form action="#" class="mb-3 mt-1">
            <input type="text" class="form-control" placeholder="Buscar archivos..">
        </form>
    </div>
     <div class="chat-list-content">
        <ul class="chat-list">
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-primary rounded-circle">M</span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Hurin Seary</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-danger rounded-circle">R</span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Victor Exrixon</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </li>
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-success rounded-circle">M</span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Surfiya Zakir</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>Yesterday</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </li>
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-warning rounded-circle">A</span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">John Ive</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-info rounded-circle">D</span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Goria Coast</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
</div>