<div class="text-left mb-2 mt-3">
    <h2 class="title-text"><b>Chats</b> recientes</h2>
</div>
<div class="row pl-2 pr-2" style="max-width:450px;">
    <div class="owl-carousel owl-theme slider-0">
        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-2.png') }}" alt=""></div>
                <h3 class="mb-1">Urian Viera</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-3.png') }}" alt=""></div>
                <h3 class="mb-1">Moris Joshph</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-4.png') }}" alt=""></div>
                <h3 class="mb-1">Bob Pasigon</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>

        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-8.png') }}" alt=""></div>
                <h3 class="mb-1">Lewis Kindred</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>

        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-2.png') }}" alt=""></div>
                <h3 class="mb-1">Lewis Kindred</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-3.png') }}" alt=""></div>
                <h3 class="mb-1">Moris Joshph</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-4.png') }}" alt=""></div>
                <h3 class="mb-1">Bob Pasigon</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>

        <div class="item">
            <div class="recent-chat float-left">
                <div class="user"><img src="{{ url_for('static', filename ='assets/images/user-8.png') }}" alt=""></div>
                <h3 class="mb-1">Lewis Kindred</h3>
                <span>23 min ago</span>
                <a href="#"><i class="ti-more-alt"></i></a>
            </div>
        </div>
    </div>
</div>