
<div class="sidebar" id="favorites">
    <div class="text-left mb-2 mt-3"><h2 class="title-text"><b>Favorites</b> Room </h2></div>
    <div class="form-content">
        <form action="#" class="mb-3 mt-1">
            <input type="text" class="form-control" placeholder="Type name to find contact">
        </form>
    </div>
     <div class="chat-list-content">
        <ul class="chat-list">
            <li class="chat-list-item">
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">Hurin Seary</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">Victor Exrixon</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                         <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">Surfiya Zakir</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">John Ive</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-0 mt-2">Goria Coast</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>