<div class="chat-footer">
    <a href="#" class="emoji-bttn"><i class="ti-face-smile"></i></a>

    <div class="emoji-wrap">
        <ul class="emojis list-inline mb-0">
            <li class="emoji list-inline-item"><i class="em em---1"></i> </li>
            <li class="emoji list-inline-item"><i class="em em-angry" aria-role="presentation"
                    aria-label="ANGRY FACE"></i></li>
            <li class="emoji list-inline-item"><i class="em em-anguished" aria-role="presentation"
                    aria-label="ANGUISHED FACE"></i> </li>

            <li class="emoji list-inline-item"><i class="em em-astonished" aria-role="presentation"
                    aria-label="ASTONISHED FACE"></i> </li>
            <li class="emoji list-inline-item"><i class="em em-blush" aria-role="presentation"
                    aria-label="SMILING FACE WITH SMILING EYES"></i></li>
            <li class="emoji list-inline-item"><i class="em em-clap" aria-role="presentation"
                    aria-label="CLAPPING HANDS SIGN"></i></li>
            <li class="emoji list-inline-item"><i class="em em-cry" aria-role="presentation"
                    aria-label="CRYING FACE"></i></li>
            <li class="emoji list-inline-item"><i class="em em-full_moon_with_face" aria-role="presentation"
                    aria-label="FULL MOON WITH FACE"></i></li>
        </ul>
    </div>

    <form id="formChat" name="formChat" method="POST" autocomplete="off">
        <input type="text" name="mensaje" id="mensaje" placeholder="Escribir mensaje" required="true">

        <button type="submit" id="enviar" name="enviar">
            <img src="{{ url_for('static', filename ='assets/images/send.png') }}" alt="send">
        </button>
    </form>

</div>