
<div class="sidebar" id="notification">
    <div class="text-left mb-2 mt-3"><h2 class="title-text"><b>Notificaciones</b></h2></div>
    <div class="form-content">
        <form action="#" class="mb-3 mt-1">
            <input type="text" class="form-control" placeholder="Seacrh notification..">
        </form>
    </div>
    <div class="chat-list-content">
        <ul class="chat-list">
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">file.txt</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-video-camera"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Hurin Seary</h3>
                        <p>You missed a video call.</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-heart"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Surfiya Zakir</h3>
                        <p>You have got a heart</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-harddrives"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Low Memory</h3>
                        <p>Please update with new plan</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">file.txt</h3>
                        <p>What's up, how are you?</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-video-camera"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Hurin Seary</h3>
                        <p>You missed a video call.</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-heart"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Surfiya Zakir</h3>
                        <p>You have got a heart</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="chat-list-item">
                <figure class="avatar user-online">
                    <span class="avatar-title bg-secondary rounded-circle"><i class="ti-harddrives"></i></span>
                </figure>
                <div class="list-body">
                    <div class="chat-bttn">
                        <h3 class="mb-1 mt-1">Low Memory</h3>
                        <p>Please update with new plan</p>
                    </div>
                    <div class="list-action mt-2 text-right">
                        <small>03:41 PM</small>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>