<div class="right-sidebar" style="overflow: hidden;outline: none;">
    <div class="profile-content scroll-profile">
        <header class="mt-4">
            <div class="owl-carousel owl-theme nav-tab-align">
                <div class="item">
                    <h2 class="title-text profile_tab" profile-tab="profile"><b>Per</b>fil</h2>
                </div>
                <div class="item">
                    <h2 class="title-text profile_tab" profile-tab="note"><b>No</b>tas</h2>
                </div>
                <div class="item">
                    <h2 class="title-text profile_tab" profile-tab="file"><b>Archi</b>vos</h2>
                </div>
            </div>
        </header>

        <div class="profile-content-body">
            <div class="profile-content-tab" id="profile" style="display: block;">
                <div class="text-center mt-4">
                    <figure class="avatar avatar-xl mb-4">
                        <img src="{{ url_for('static', filename ='assets/images/user-10.png') }}" class="rounded-circle" alt="image">
                    </figure>
                    <h5 class="mb-0">James Henry</h5>
                    <small class="text-success">james43@gmail.com</small>

                       <ul class="social-link list-inline mt-3">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook bg-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt bg-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin bg-linkedIn"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github bg-github"></i></a></li>
                       </ul>

                       <ul class="profile-detail list-inline pt-5">
                           <li class="list-block-item text-left">
                               <h6 class="mb-0">Website</h6>
                               <small>www.wpvisual.com</small>
                           </li>
                           <li class="list-block-item text-left">
                               <h6 class="mb-0">Telefono</h6>
                               <small>+111 990 332 2223</small>
                           </li>
                           <li class="list-block-item text-left">
                               <h6 class="mb-0">City</h6>
                               <small>Autria</small>
                           </li>
                           <li class="list-block-item text-left">
                               <h6 class="mb-0">Recibir notificaciones</h6>
                               <small>Allow connected contacts</small>
                            <div class="switch-box float-right">
                                <label class="switch float-right mb-0" for="checkbox5">
                                    <input type="checkbox" id="checkbox5">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                           </li>
                       </ul>
                </div>
            </div>
            <div class="profile-content-tab" id="note">
                <a href="#" class="add-note mt-5" id="addnote-bttn">Add</a>	
                <div class="card card-project note mb-3">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.“</p>
                        <hr>
                        <div class="d-flex">
                              <figure class="avatar user-online mr-3 mb-0">
                                <img src="{{ url_for('static', filename ='assets/images/user-8.png') }}" alt="image">
                            </figure>
                            <h3 class="mb-1 mt-2">Hurin Seary
                            <span>23 min ago</span></h3>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project note mb-3">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.“</p>
                        <hr>
                        <div class="d-flex">
                              <figure class="avatar user-online mr-3 mb-0">
                                <img src="{{ url_for('static', filename ='assets/images/user-9.png') }}" alt="image">
                            </figure>
                            <h3 class="mb-1 mt-2">Hurin Seary
                            <span>23 min ago</span></h3>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project note mb-3">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.“</p>
                        <hr>
                        <div class="d-flex">
                              <figure class="avatar user-online mr-3 mb-0">
                                <img src="{{ url_for('static', filename ='assets/images/user-3.png') }}" alt="image">
                            </figure>
                            <h3 class="mb-1 mt-2">Hurin Seary
                            <span>23 min ago</span></h3>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project note mb-3">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.“</p>
                        <hr>
                        <div class="d-flex">
                              <figure class="avatar user-online mr-3 mb-0">
                                <img src="{{ url_for('static', filename ='assets/images/user-3.png') }}" alt="image">
                            </figure>
                            <h3 class="mb-1 mt-2">Hurin Seary
                            <span>23 min ago</span></h3>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project note mb-3">
                    <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.“</p>
                        <hr>
                        <div class="d-flex">
                              <figure class="avatar user-online mr-3 mb-0">
                                <img src="{{ url_for('static', filename ='assets/images/user-3.png') }}" alt="image">
                            </figure>
                            <h3 class="mb-1 mt-2">Hurin Seary
                            <span>23 min ago</span></h3>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="profile-content-tab" id="file">
                <div class="text-center mt-0">
                    <ul class="nav nav-tabs nav-tabs-bg nav-justified nav-sm mt-5 mb-4" id="tablist" role="tablist" aria-orientation="horizontal">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Files</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">Trash</a>
                        </li>
                    </ul>
                </div>
                <div class="card card-project mb-3">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project mb-3">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project mb-3">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="card card-project mb-3">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-files"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project mb-3">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-file"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="card card-project mb-2">
                    <div class="card-body">
                        <span class="avatar-title bg-secondary rounded-circle"><i class="ti-zip"></i></span>
                        <h3 class="mb-1 mt-2">Project.zip
                        <span>8kb</span></h3>
                        <div class="dropdown">
                            <a href="#" class="more dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-142px, 27px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item">Open</a>
                                <a href="#" class="dropdown-item">Restore</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
     
</div>	